<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="vblocal.My.MySettings.masterConnectionString" connectionString="Driver={SQL Server};description=apps database;server=DESKTOP-5IIBC2K\ASI2008;uid=ZEBRA;trusted_connection=Yes;app=Microsoft® Visual Studio®;wsid=DESKTOP-5IIBC2K;database=master"
            providerName="System.Data.Odbc" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>